@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

html {
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 100px;
}

.box-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.action-box {
	width: 50vw;
	height: 60vh;
	border-radius: 3px;
	box-shadow: 0 5px 15px #00000077;
	background-color: #F6F6F6;
	font-family: 'Roboto Mono', sans-serif;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
	display: block;
	overflow: auto;
}

.date {
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: right;
}

.focus {
	font-size: 25px;
	font-weight: bold;
	margin: 40px 0;
}

.download-button {
	color: #FFF;
	background-color: #5588AA;
	padding: 8px 20px;
	display: inline-block;
	margin: 15px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	border-radius: 3px;
	text-transform: uppercase;
}

.center-this {
	margin: 30px;
}

code {
	background-color: #333;
	color: #FFF;
	padding: 10px;
	line-height: 40px;
	border-radius: 3px;
}

.keys {
	background-color: #99C6D8;
}

@media screen and (max-width: 1050px) {
	.action-box {
		width: 80vw;
		height: 60vh;
		text-align: center;
		padding: 10px;
	}
}

@media screen and (max-width: 1000px) {
	.action-box {
		width: 100vw;
		height: 100vh;
		text-align: center;
		padding: 10px;
	}
}