doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title AM Playground
  body
    .header
      h1.page-title AM Playground

      .desc I'm not sure where I am just yet...

    //- ul.nav
    //-   li: a(href='/') Home
    //-   li: a(href='#news') News
    //-   li: a(href='#about') About
    //-   li: a(href='#contact') Contact
    
    //- .main-content
    //-   block content

    .footer
      p Created by Andrew Maclean